body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: black;
  padding: 20px;
}

.sidebar p {
  cursor: pointer;
  padding: 10px;
}

.sidebar p:hover {
  color: #1DB954;
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

/* SONG */
.song {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #181818;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.song:hover {
  background: #282828;
}

.song.active {
  background: #1DB954;
}

.song img {
  width: 50px;
  height: 50px;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.left img {
  width: 50px;
}

.center button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.center button:hover {
  color: #1DB954;
}

.right input {
  margin: 5px;
}
